<!-- welcomeAdmin.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>ALERTA</title>
</head>
<body>
  <!-- Script para mostrar el alert y redirigir después de unos segundos -->
  <script>
    alert('Empresa creada'); // Muestra el alert con el nombre del usuario
    setTimeout(function() {
      const url = `/`; // Construir la URL completa con los valores codificados
      window.location.href = url; // Redirige al usuario a la vista de compras después de 3 segundos (3000 ms)
    }, 500); // Cambia el tiempo según tus preferencias (en milisegundos)
  </script>
</body>
</html>
