<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Carga de datos seccion empresa</title>
  </head>
  <body>
    <h1 class="text-center">Home</h1>
    <hr>
    <h2 class="text-center">Llena el formulario para cargar datos a la API</h2>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <form action="/empresas/cargarInfo" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="Nombre Empresa" class="form-label">Nombre Empresa</label>
              <input type="text" name="nombreempresa" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa el nombre de la empresa">
              <!-- <div id="emailHelp" class="form-text">Ingresa el nombre de la empresa</div> -->
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1">Diligencia el icono de la empresa</label>
              <input type="file" name="imagenempresa" alt="" class="form-control" placeholder="Selecciona el icono de la empresa">
              <!-- <small id="emailHelp" class="form-text text-muted"
                >Sube tu imagen aquí</small
              > -->
            </div>
            <button type="submit" class="btn btn-primary btn-block">CARGAR DATOS</button>
            <a href="/" class="btn btn-secondary btn-block">Volver atrás</a>
          </form>
        </div>
      </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html>
