<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>HOME - Carga de datos</title>
  </head>
  <body>
    <h1 class="text-center">Cargue de datos</h1>
    <h2 class="text-center">Selecciona un botón para cargar los datos correspondientes a la API</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/empresa/registrarEmpresa" class="btn btn-primary btn-block">Cargar datos de la empresa</a>
            </div>
            <div class="col-md-6">
                <a href="" class="btn btn-primary btn-block">Cargar datos de la ruta</a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html>
